<?xml version="1.0" encoding="UTF-8"?>
<plugin
	id="typo3-accessrootline"
	name="Apache Nutch for TYPO3 - Access Rootline Indexing Filter"
	version="2.0.0">


	<runtime>
		<library name="typo3-accessrootline.jar">
			<export name="*"/>
		</library>
	</runtime>

	<requires>
		<import plugin="nutch-extensionpoints"/>
	</requires>

	<extension 
			id="org.typo3.nutch.indexer.accessrootline"
			name="Access Rootline Indexing Filter"
			point="org.apache.nutch.indexer.IndexingFilter">
		<implementation 
				id="Typo3AccessRootlineIndexingFilter"
				class="org.typo3.nutch.indexer.accessrootline.AccessRootlineIndexingFilter"/>
	</extension>

</plugin>